
<p-toast></p-toast>

<app-login-modal
  [loginDialogVisible]="loginVisible"
  (loginDialogVisibleChange)="waitLoginClosed($event)">
</app-login-modal>

<p-toast />
<p-confirmDialog>
    <ng-template pTemplate="message" let-message>
        <div class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border">
            <i class="pi pi-exclamation-circle text-6xl text-primary-500"></i>
            <p>{{ message.message }}</p>
        </div>
    </ng-template>
</p-confirmDialog>

<p-dialog 
    [modal]="true"
    [(visible)]="visibleDeleteRoomDialog" 
    [style]="{ width: '50rem' }" 
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" >
    <div style="display: flex;align-items: center;justify-content: center;flex-direction: column;">
            <span class="pi pi-exclamation-circle"style="color: red;">The room is closed</span>  
            <p-button label="OK" icon="pi pi-check" (click)="closeDeleteRoomDialog()" class="p-button-error" />
    </div>
</p-dialog>
<div class="container">
<div class="lobby-container">
    <div class="p-grid">
      <div class="p-col-6">
        <p-panel header="LOBBY INFORMATION" class="panel">
            <img src="../../assets/images/spy.png" alt="Immagine Lobby" style="width:100%;">
            <p>Descrizione lobby</p>
          </p-panel>
      </div>
      <div class="p-col-6">

        <p-panel header="PLAYER LIST" class="panel">
            <ul>
              <li>Giocatore 1</li>
              <li>Giocatore 2</li>
            </ul>
        </p-panel>

        <p-button label="delete room"/>
        <p-button label="return to lobby"/>

        <!-- NON VANNO
        <ng-container *ngIf="room">
            
            <p-button *ngIf="username == room.owner" label="Delete Room" icon="pi pi-trash" (click)="deleteRoom()" class="p-button-danger" />
            
        </ng-container>
        -->
      </div>
    </div>
  </div>
  </div>