@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@primary-color: #3B82F6; 
@dark-color: #1C1C1C; 

body, html {
    height: auto;
    margin: 0;
    background-color: @dark-color;
  }