.cancel{
    position: absolute;
    top: 0;
    left: 85%;
    font-size: 20px;
    color: #fff;
    &:hover{
        cursor: pointer;
    }
}

.container{
    margin: 0 !important;
    padding: 0 !important;
    min-height: 100%;
    width: 100%;
    
}

.test{
    width: 100%;
    min-height: 100%;
    background-image: url('../../assets/images/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}




