<p-toast></p-toast>

<!-- MODALS -->
<app-login-modal
  [loginDialogVisible]="loginVisible"
  (loginDialogVisibleChange)="waitLoginClosed($event)">
</app-login-modal>

<p-dialog [(visible)]="createRoomVisible" [modal]="true" class="themed-dialog" [draggable]="false">

    <ng-template pTemplate="header">
        <h2 class="dialog-header">Create room</h2>
    </ng-template>
    <ng-template pTemplate="content">
        <div class="dialog-content">
            <div class="field">
                <label for="roomName">Room Name</label>
                <input pInputText id="roomName" [(ngModel)]="roomName" class="input-field"/>
            </div>
            <div class="field">
                <label for="roomPassword">Password</label>
                <input type="password" pInputPassword id="roomPassword" [(ngModel)]="roomPassword" class="input-field"/>
            </div>
            <div class="field">
                <label for="roomMaxPlayers">Max Players</label>
                <p-inputNumber 
                [(ngModel)]="roomMaxUsers" 
                [showButtons]="true" 
                buttonLayout="horizontal" 
                spinnerMode="horizontal" 
                decrementButtonClass="p-button-secondary"
                incrementButtonClass="p-button-secondary" 
                incrementButtonIcon="pi pi-plus" 
                decrementButtonIcon="pi pi-minus"
                min="2"
                max="40" />
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton label="Create" icon="pi pi-check" class="dialog-button" (click)="createRoom()"></button>
    </ng-template>
</p-dialog>

<p-dialog [modal]="true" [(visible)]="joinRoomVisible" [style]="{ width: '25rem' }" class="themed-dialog" [draggable]="false">
    <ng-template pTemplate="header">
        <h2 class="dialog-header">Password of the room</h2>
    </ng-template>
    <ng-template pTemplate="content">
        <div class="dialog-content">
            <div class="field">
                <label for="roomPassword">Password</label>
                <input type="password" pInputText id="roomPassword" [(ngModel)]="joinRoomPassword" class="input-field"/>
            </div>
        </div>  
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton label="Join" icon="pi pi-user-plus" class="dialog-button" (click)="joinRoom()"></button>
    </ng-template>
</p-dialog>

<!-- END MODALS -->




<div class="container">

    <div class="flex-items">

         <h1>FIND THE SPY</h1>
         <button pButton label="Create room" class="create-button" (click)="showCreateRoomDialog()"></button>

         <div class="separator"></div>
            
        <p-orderList 
            [value]="rooms" 
            [listStyle]="{ 'max-height': '300px' }" 
            filterBy="name" 
            filterPlaceholder="Filter by name">
            <ng-template pTemplate="header" >
                <div style="display: flex; justify-content: space-between;flex-direction: row;">
                    <span>ROOMS</span>
                    <p-progressSpinner ariaLabel="loading" styleClass="w-2rem h-2rem" *ngIf="listLoading" />
                </div>
            </ng-template>
            <ng-template let-room pTemplate="item" >
                <div class="flex flex-wrap p-2 align-items-center gap-3">
                    <div class="flex-1 flex flex-column gap-2">
                        <div class="font-bold" style="display: flex;justify-content: space-between;flex-direction: row;">
                            <div style="display: flex;align-items: center;flex-direction: row;gap:10px">
                                <span id="refresh" class="pi pi-circle-fill" *ngIf="room.users.length < room.maxUsers"
                                style="color: #26ff00;"></span>  
                                <span id="refresh" class="pi pi-circle-fill" *ngIf="room.users.length == room.maxUsers"
                                style="color: #ff0000;"></span>
                                <div style="white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                width: 30vw;
                                text-align: start;"
                                
                                > {{ room.name}} </div>
                            </div>
                            <div>{{room.users.length}}/{{room.maxUsers}} <span id="refresh" class="pi pi-users"></span></div>  
                        </div>
                        <div class="flex align-items-center gap-2">
                            <i class="pi pi-user text-sm"></i>
                            <span>{{ room.owner }}</span>
                        </div>
                    </div>
                    <span class="font-bold text-900">
                        <p-button label="Join" icon="pi pi-user-plus" (click)="showJoinRoomDialog(room)" class="p-button-success" *ngIf="room.users.length < room.maxUsers" />
                        <p-button label="Full" icon="pi pi-user-plus" class="p-button-danger" *ngIf="room.users.length == room.maxUsers" disabled=""/>
                    </span>
                </div>
            </ng-template>
        </p-orderList>
    </div>
    
</div>
